
    <!-- Jumbotron -->
    <div class="jumbotron">
        <br>
        <img src="./Assets/images/IMG-0700.JPG" alt="My Self Picture" style="float:left; margin-right:20px;" height="260" width="260">
        <br>
        <h1 class="display-4"></h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p class="mission-statement"></p>
        <hr class="my-4">
        <br>
        <br>
        <h4 id="educationBio"></h4>
        <ul id="myBioThings"></ul>
<!--  <a id="AboutButton" class="btn btn-primary btn-lg" href="../../index.html" role="button"> Home</a> -->
    </div>


